/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.7
Version: 2.1.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v2.1/frontend/one-page-parallax/
*/

body {
    background: #fff;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478;
/*    font-size: 14px;*/
/*    font-size: 1.1em;*/
/*    font-size: calc(14px + (20- 14 ) + ((100vw - 300px) / (2560 - 300)));*/
}

p, input, label, ul.tagit li.tagit-new input {
  font-size: 14px !important;
}

ul{
    padding: 0 !important;
}
/*
@media screen and (min-width: 320px) {
  p, input, label {
    font-size: calc(13px + 6 * ((100vw - 320px) / 680));
  }
}
*/
@media screen and (min-width: 1000px) {
  p, input, label, ul.tagit li.tagit-new input {
    font-size: 15px !important;
  }
}


.ie8 body {
    font-family: Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    color: #242a30;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 1.25
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-size: 60%;
    font-weight: 300;
    color: #7c7f83
}

a {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

a:focus {
    outline: 0
}

label {
    color: #242a30;
    font-size: 1.3em;
}

p {
/*    font-size: 14px;*/
/*    font-size: 1.3em;*/
    line-height: 20px
}

.contentAnimated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.finishAnimated {
    -webkit-animation: none!important;
    animation: none!important
}

body.page-navbar-fixed-top {
    padding-top: 70px
}

body.page-navbar-fixed-top-sm {
    padding-top: 51px
}

.header.navbar {
    border-bottom: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.header.navbar .navbar-nav>li>a {
    font-size: 14px;
    line-height: 20px;
    color: #2d353c;
    font-weight: 500;
    padding: 25px 15px
}

.header.navbar .navbar-nav>li.active>a,
.header.navbar .navbar-nav>li>a:focus,
.header.navbar .navbar-nav>li>a:hover {
    background: 0 0
}

.header .navbar-brand {
    padding: 25px 15px
}

.brand-logo {
    float: left;
    border: 15px solid;
    border-color: #4DCACA #31A3A3 #1D8888;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 4px
}

.brand-logo+.brand-text {
    margin-left: 42px;
    color: #2d353c;
    font-size: 20px;
    line-height: 20px;
    display: block
}

.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 18px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.header.navbar.navbar-default {
    background: #fff
}

.header.navbar.navbar-transparent {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}

.header.navbar.navbar-inverse .navbar-nav>li>a,
.header.navbar.navbar-transparent .navbar-nav>li>a {
    color: #8F8E8E
}

.header.navbar.navbar-inverse .brand-text,
.header.navbar.navbar-transparent .brand-text {
    color: #fff
}

.navbar-inverse .navbar-toggle,
.navbar-transparent .navbar-toggle {
    border-color: #8F8E8E
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-transparent .navbar-toggle .icon-bar {
    background: #8f8e8e
}

.header.navbar.navbar-small {
    border-bottom: none;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.header.navbar.navbar-small .navbar-brand,
.header.navbar.navbar-small .navbar-nav>li>a {
    padding: 15px
}

.header.navbar.navbar-transparent.navbar-small {
    background: #fff
}

.header.navbar.navbar-transparent.navbar-small .brand-logo+.brand-text,
.header.navbar.navbar-transparent.navbar-small .navbar-nav>li>a {
    color: #2d353c
}

.navbar-small .navbar-toggle {
    border-color: #ddd;
    margin-top: 8px;
    margin-bottom: 8px
}

.navbar-small .navbar-toggle .icon-bar {
    background: #888
}

.navbar-nav>li.dropdown:focus>.dropdown-menu,
.navbar-nav>li.dropdown:hover>.dropdown-menu {
    display: block
}

.navbar-nav .dropdown-menu {
    background: #333;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 0;
    margin-top: 0;
    border: none
}

.navbar-nav .dropdown-menu>li>a {
    color: #999;
    padding: 10px 15px
}

.navbar-nav .dropdown-menu>li.active>a,
.navbar-nav .dropdown-menu>li>a:focus,
.navbar-nav .dropdown-menu>li>a:hover {
    background: #222;
    color: #00acac
}
    
.navbar-nav .dropdown-menu>li+li {
    border-top: 1px solid #444
}

.content {
    padding: 60px 15px 75px
}

.content .content-title {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    margin-top: 0
}

/*
.content .content-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    background: #242a30;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -20px
}
*/

.content-title span{
        border: 2px solid;
    padding: 5px 16px;
}



.content .content-desc {
    text-align: center;
    margin-bottom: 60px;
    color: #242a30
}

.content.has-bg {
    padding-bottom: 60px;
    overflow: hidden;
    position: relative
}

.content.has-bg .content-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.content.has-bg .content-bg img {
    max-width: 100%
}

.content.has-bg .content-title:after {
    background: #fff
}

.content.has-bg .content-bg:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.content.has-bg .container {
    position: relative
}

.content.has-bg .container .content-title {
    color: #fff
}

.content.has-bg .container .content-desc {
    color: rgba(255, 255, 255, .6)
}

.content.has-bg h1,
.content.has-bg h2,
.content.has-bg h3,
.content.has-bg h4,
.content.has-bg h5,
.content.has-bg h6 {
    color: #fff
}

.home {
    padding: 0!important;
    color: #fff
}

.home-content {
    z-index: 1020;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #8F8E8E;
    margin-top: -120px;
    padding: 0 15px;
    text-align: center
}

.home-content h1,
.home-content h2,
.home-content h3,
.home-content h4 {
    color: #fff;
    margin: 0 0 30px;
    font-weight: 300
}

.home-content h1 {
    font-size: 64px;
    font-weight: 600
}

.home-content h3 {
    font-size: 32px
}

.home-content p {
    margin-bottom: 60px
}

.home-content a:focus,
.home-content a:hover {
    color: #fff
}

.home-content .btn+.btn {
    margin-left: 15px
}

.about-author {
    position: relative
}

.about-author .quote {
    position: relative;
    padding: 30px 60px;
    border-radius: 12px;
    margin-bottom: 15px
}

.about-author .quote:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 95px;
    border: 10px solid transparent;
    border-top-color: #f0f3f4;
    border-left-color: #f0f3f4
}

.about-author .quote h3 {
    margin: 0;
    font-weight: 300;
    color: #707478;
    font-style: italic;
    line-height: 30px
}

.about-author .fa.fa-quote-left,
.about-author .fa.fa-quote-right {
    font-size: 14px;
    position: absolute;
    left: 30px;
    margin-top: -14px;
    line-height: 28px;
    top: 30px;
    color: #D5D9DA
}

.about-author .fa.fa-quote-right {
    left: auto;
    right: 30px;
    bottom: 30px;
    margin-top: 0;
    margin-bottom: -14px;
    top: auto
}

.about-author .author {
    position: relative;
    text-align: right;
    padding-left: 100px;
    margin-bottom: 15px
}

.about-author .author .image {
    position: absolute;
    left: -10px;
    top: -40px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 100px;
    overflow: hidden
}

.about-author .author .image img {
    max-width: 100%
}

.about-author .author .info {
    color: #242a30;
    font-weight: 600;
    font-size: 14px
}

.about-author .author .info small {
    display: block;
    color: #999;
    font-size: 14px;
    font-weight: 400
}

.about-author .author .info a {
    font-weight: 400;
    font-size: 14px;
    display: block
}

.skills .skills-name {
    font-size: 14px;
    color: #242a30;
    margin-bottom: 5px;
    font-weight: 600
}

.milestone {
    text-align: center
}

.milestone-col+.milestone-col {
    border-left: 1px solid rgba(255, 255, 255, .2)
}

.milestone .number {
    font-size: 42px;
    color: #fff;
    font-weight: 300
}

.milestone .title {
    color: #8F8E8E
}

.team {
    text-align: center;
    padding: 0 30px
}

.team .image {
    display: inline-block;
    border-radius: 300px;
    overflow: hidden
}

.team .info {
    margin-top: 15px
}

.team .image img {
    border-radius: 300px
}

.team .name {
    margin-bottom: 5px
}

.team .title {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 600
}

.team p {
    margin-bottom: 15px
}

.team .social a {
    border-radius: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    width: 40px;
    height: 40px;
    line-height: 28px;
    text-align: center;
    display: inline-block;
    color: #e73b4c;
}

.team .social a+a {
    margin-left: 5px
}

.quote {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    color: rgba(255, 255, 255, .9)
}

.quote .fa-quote-left,
.quote .fa-quote-right {
    color: #fff;
    font-size: 14px;
    position: relative;
    top: -14px
}

.quote small {
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    margin-top: 20px
}

.service {
    margin-bottom: 30px
}

.service .icon {
    float: left;
    width: 50px;
    height: 50px;
    background: #242a30;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.service .title {
    margin-bottom: 5px
}

.service .icon+.info {
    margin-left: 70px
}

.service.service-vertical {
    text-align: center
}

.service.service-vertical .icon {
    float: none;
    margin: 0 auto 15px
}

.service.service-vertical .info {
    margin: 0
}

.work {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px
}

.work .image img {
    max-width: 100%
}

.work:focus .desc,
.work:hover .desc {
    margin-top: -62px
}

.work .desc {
    padding: 12px 15px;
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, .7);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.work .desc .desc-title {
    color: #fff;
    font-size: 14px;
    display: block;
    font-weight: 600
}

.work .desc .desc-text {
    font-size: 14px;
    color: #ccc;
    display: block
}

.action-box h3 {
    margin-bottom: 5px;
    margin-top: 3px
}

.action-box p {
    margin-bottom: 0
}

.action-box .icon-large {
    font-size: 48px;
    float: left;
    margin-right: 20px;
    line-height: 50px;
    width: 50px;
    text-align: center
}

.action-box .btn {
    margin-top: -3px
}

.testimonials {
    padding-bottom: 50px
}

.testimonials .item {
    padding-top: 15px
}

.testimonials .carousel-indicators {
    bottom: 0
}

.testimonials blockquote {
    border: none;
    text-align: center;
    color: #fff;
    position: relative;
    font-weight: 300;
    margin-bottom: 15px
}

.testimonials blockquote .fa-quote-left,
.testimonials blockquote .fa-quote-right {
    font-size: 28px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    color: #8F8E8E
}

.testimonials blockquote .fa-quote-left {
    margin-left: -43px;
    margin-top: -15px
}

.testimonials .name {
    color: #fff;
    font-size: 14px;
    margin-bottom: 15px
}

.testimonials .name span {
    margin-left: 5px
}

.testimonials .carousel-indicators li {
    background: rgba(255, 255, 255, .4);
    border: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear
}

.testimonials .carousel-indicators li:focus,
.testimonials .carousel-indicators li:hover {
    background: rgba(255, 255, 255, .7)
}

.testimonials .carousel-indicators li.active {
    background: #fff
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 12px;
    height: 12px;
    margin: 1px 3px
}

.pricing-table {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center
}

.pricing-table>li {
    float: left;
    padding: 10px
}

.pricing-table.col-4>li {
    width: 25%
}

.pricing-table.col-3>li {
    width: 33.33333%
}

.pricing-table .pricing-container {
    overflow: hidden;
    border-radius: 6px;
    background: #f0f3f4;
    box-shadow: 0 3px #b6c2c9
}

.pricing-table h3 {
    background: #242a30;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px
}

.pricing-table .features {
    list-style-type: none;
    margin: 0;
    padding: 0 30px
}

.pricing-table .features>li {
    padding: 10px 0
}

.pricing-table .features>li+li {
    border-top: 1px solid #e2e7eb
}

.pricing-table .price {
    width: 100%;
    display: table;
    background: #2d353c
}

.pricing-table .price .price-figure {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 80px
}

.pricing-table .price .price-number {
    font-size: 28px;
    color: #00a3a3;
    display: block
}

.pricing-table .price .price-tenure {
    font-size: 14px;
    color: #fff;
    color: rgba(255, 255, 255, .7);
    display: block;
    text-align: center
}

.pricing-table .footer {
    padding: 15px 20px
}

.pricing-table .highlight {
    padding: 0;
    margin-top: -30px
}

.pricing-table .highlight .features>li {
    padding: 15px 0
}

.pricing-table .highlight h3 {
    padding: 20px 30px
}

.pricing-table .highlight .price .price-figure {
    height: 90px
}

.pricing-table .highlight .price .price-number {
    color: #fff
}

.footer {
    padding: 60px 0;
    background: #242a30;
    text-align: center;
    box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .7);
    -webkit-box-shadow: inset 0 100px 80px -80px rgba(0, 0, 0, .7)
}

.footer .footer-brand-logo {
    display: block;
    margin: 0 auto 10px;
    width: 40px;
    border: 20px solid;
    border-color: #4DCACA #31A3A3 #1D8888;
    border-radius: 4px
}

.footer .footer-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px
}

.footer .social-list {
    margin: 30px 0 0;
    font-size: 20px
}

.footer .social-list a{
    font-size: 22px;
}

.pace-inactive {
    opacity: 0;
    filter: alpha(opacity=0)
}

.pace {
    background: #2d353c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: 1020
}

.pace-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 2px;
    background: #00acac;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
    z-index: 2000
}

.pace:before {
    content: '';
    background: #242a30;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 2px
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: #00acac;
    border-left-color: #00acac;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.row {
    margin: 0 -10px
}

.row>[class*=col-] {
    padding: 0 10px
}

.row.row-space-0 {
    margin: 0
}

.row.row-space-2 {
    margin: 0 -1px
}

.row.row-space-4 {
    margin: 0 -2px
}

.row.row-space-6 {
    margin: 0 -3px
}

.row.row-space-8 {
    margin: 0 -4px
}

.row.row-space-10 {
    margin: 0 -5px
}

.row.row-space-12 {
    margin: 0 -6px
}

.row.row-space-14 {
    margin: 0 -7px
}

.row.row-space-16 {
    margin: 0 -8px
}

.row.row-space-18 {
    margin: 0 -10px
}

.row.row-space-22 {
    margin: 0 -11px
}

.row.row-space-24 {
    margin: 0 -12px
}

.row.row-space-26 {
    margin: 0 -13px
}

.row.row-space-28 {
    margin: 0 -14px
}

.row.row-space-30 {
    margin: 0 -15px
}

.row.row-space-0>[class*=col-] {
    padding: 0
}

.row.row-space-2>[class*=col-] {
    padding: 0 1px
}

.row.row-space-4>[class*=col-] {
    padding: 0 2px
}

.row.row-space-6>[class*=col-] {
    padding: 0 3px
}

.row.row-space-8>[class*=col-] {
    padding: 0 4px
}

.row.row-space-10>[class*=col-] {
    padding: 0 5px
}

.row.row-space-12>[class*=col-] {
    padding: 0 6px
}

.row.row-space-14>[class*=col-] {
    padding: 0 7px
}

.row.row-space-16>[class*=col-] {
    padding: 0 8px
}

.row.row-space-18>[class*=col-] {
    padding: 0 9px
}

.row.row-space-20>[class*=col-] {
    padding: 0 10px
}

.row.row-space-22>[class*=col-] {
    padding: 0 11px
}

.row.row-space-24>[class*=col-] {
    padding: 0 12px
}

.row.row-space-26>[class*=col-] {
    padding: 0 13px
}

.row.row-space-28>[class*=col-] {
    padding: 0 14px
}

.row.row-space-30>[class*=col-] {
    padding: 0 15px
}

.semi-bold {
    font-weight: 600
}

.overflow-auto {
    overflow: auto!important
}

.overflow-hidden {
    overflow: hidden!important
}

.overflow-visible {
    overflow: visible!important
}

.overflow-scroll {
    overflow: scroll!important
}

.overflow-x-hidden {
    overflow-x: hidden!important
}

.overflow-x-visible {
    overflow-x: visible!important
}

.overflow-x-scroll {
    overflow-x: scroll!important
}

.overflow-y-hidden {
    overflow-y: hidden!important
}

.overflow-y-visible {
    overflow-y: visible!important
}

.overflow-y-scroll {
    overflow-y: scroll!important
}

.m-auto {
    margin: 0 auto!important
}

.m-0 {
    margin: 0!important
}

.m-1 {
    margin: 1px!important
}

.m-2 {
    margin: 2px!important
}

.m-3 {
    margin: 3px!important
}

.m-4 {
    margin: 4px!important
}

.m-5 {
    margin: 5px!important
}

.m-10 {
    margin: 10px!important
}

.m-15 {
    margin: 15px!important
}

.m-20 {
    margin: 20px!important
}

.m-25 {
    margin: 25px!important
}

.m-30 {
    margin: 30px!important
}

.m-35 {
    margin: 35px!important
}

.m-40 {
    margin: 40px!important
}

.m-t-0 {
    margin-top: 0!important
}

.m-t-1 {
    margin-top: 1px!important
}

.m-t-2 {
    margin-top: 2px!important
}

.m-t-3 {
    margin-top: 3px!important
}

.m-t-4 {
    margin-top: 4px!important
}

.m-t-5 {
    margin-top: 5px!important
}

.m-t-10 {
    margin-top: 10px!important
}

.m-t-15 {
    margin-top: 15px!important
}

.m-t-20 {
    margin-top: 20px!important
}

.m-t-25 {
    margin-top: 25px!important
}

.m-t-30 {
    margin-top: 30px!important
}

.m-t-35 {
    margin-top: 35px!important
}

.m-t-40 {
    margin-top: 40px!important
}

.m-r-0 {
    margin-right: 0!important
}

.m-r-1 {
    margin-right: 1px!important
}

.m-r-2 {
    margin-right: 2px!important
}

.m-r-3 {
    margin-right: 3px!important
}

.m-r-4 {
    margin-right: 4px!important
}

.m-r-5 {
    margin-right: 5px!important
}

.m-r-10 {
    margin-right: 10px!important
}

.m-r-15 {
    margin-right: 15px!important
}

.m-r-20 {
    margin-right: 20px!important
}

.m-r-25 {
    margin-right: 25px!important
}

.m-r-30 {
    margin-right: 30px!important
}

.m-r-35 {
    margin-right: 35px!important
}

.m-r-40 {
    margin-right: 40px!important
}

.m-b-0 {
    margin-bottom: 0!important
}

.m-b-1 {
    margin-bottom: 1px!important
}

.m-b-2 {
    margin-bottom: 2px!important
}

.m-b-3 {
    margin-bottom: 3px!important
}

.m-b-4 {
    margin-bottom: 4px!important
}

.m-b-5 {
    margin-bottom: 5px!important
}

.m-b-10 {
    margin-bottom: 10px!important
}

.m-b-15 {
    margin-bottom: 15px!important
}

.m-b-20 {
    margin-bottom: 20px!important
}

.m-b-25 {
    margin-bottom: 25px!important
}

.m-b-30 {
    margin-bottom: 30px!important
}

.m-b-35 {
    margin-bottom: 35px!important
}

.m-b-40 {
    margin-bottom: 40px!important
}

.m-l-0 {
    margin-left: 0!important
}

.m-l-1 {
    margin-left: 1px!important
}

.m-l-2 {
    margin-left: 2px!important
}

.m-l-3 {
    margin-left: 3px!important
}

.m-l-4 {
    margin-left: 4px!important
}

.m-l-5 {
    margin-left: 5px!important
}

.m-l-10 {
    margin-left: 10px!important
}

.m-l-15 {
    margin-left: 15px!important
}

.m-l-20 {
    margin-left: 20px!important
}

.m-l-25 {
    margin-left: 25px!important
}

.m-l-30 {
    margin-left: 30px!important
}

.m-l-35 {
    margin-left: 35px!important
}

.m-l-40 {
    margin-left: 40px!important
}

.p-0 {
    padding: 0!important
}

.p-1 {
    padding: 1px!important
}

.p-2 {
    padding: 2px!important
}

.p-3 {
    padding: 3px!important
}

.p-4 {
    padding: 4px!important
}

.p-5 {
    padding: 5px!important
}

.p-10 {
    padding: 10px!important
}

.p-15,
.wrapper {
    padding: 15px!important
}

.p-20 {
    padding: 20px!important
}

.p-25 {
    padding: 25px!important
}

.p-30 {
    padding: 30px!important
}

.p-35 {
    padding: 35px!important
}

.p-40 {
    padding: 40px!important
}

.p-t-0 {
    padding-top: 0!important
}

.p-t-1 {
    padding-top: 1px!important
}

.p-t-2 {
    padding-top: 2px!important
}

.p-t-3 {
    padding-top: 3px!important
}

.p-t-4 {
    padding-top: 4px!important
}

.p-t-5 {
    padding-top: 5px!important
}

.p-t-10 {
    padding-top: 10px!important
}

.p-t-15 {
    padding-top: 15px!important
}

.p-t-20 {
    padding-top: 20px!important
}

.p-t-25 {
    padding-top: 25px!important
}

.p-t-30 {
    padding-top: 30px!important
}

.p-t-35 {
    padding-top: 35px!important
}

.p-t-40 {
    padding-top: 40px!important
}

.p-r-0 {
    padding-right: 0!important
}

.p-r-1 {
    padding-right: 1px!important
}

.p-r-2 {
    padding-right: 2px!important
}

.p-r-3 {
    padding-right: 3px!important
}

.p-r-4 {
    padding-right: 4px!important
}

.p-r-5 {
    padding-right: 5px!important
}

.p-r-10 {
    padding-right: 10px!important
}

.p-r-15 {
    padding-right: 15px!important
}

.p-r-20 {
    padding-right: 20px!important
}

.p-r-25 {
    padding-right: 25px!important
}

.p-r-30 {
    padding-right: 30px!important
}

.p-r-35 {
    padding-right: 35px!important
}

.p-r-40 {
    padding-right: 40px!important
}

.p-b-0 {
    padding-bottom: 0!important
}

.p-b-1 {
    padding-bottom: 1px!important
}

.p-b-2 {
    padding-bottom: 2px!important
}

.p-b-3 {
    padding-bottom: 3px!important
}

.p-b-4 {
    padding-bottom: 4px!important
}

.p-b-5 {
    padding-bottom: 5px!important
}

.p-b-10 {
    padding-bottom: 10px!important
}

.p-b-15 {
    padding-bottom: 15px!important
}

.p-b-20 {
    padding-bottom: 20px!important
}

.p-b-25 {
    padding-bottom: 25px!important
}

.p-b-30 {
    padding-bottom: 30px!important
}

.p-b-35 {
    padding-bottom: 35px!important
}

.p-b-40 {
    padding-bottom: 40px!important
}

.p-l-0 {
    padding-left: 0!important
}

.p-l-1 {
    padding-left: 1px!important
}

.p-l-2 {
    padding-left: 2px!important
}

.p-l-3 {
    padding-left: 3px!important
}

.p-l-4 {
    padding-left: 4px!important
}

.p-l-5 {
    padding-left: 5px!important
}

.p-l-10 {
    padding-left: 10px!important
}

.p-l-15 {
    padding-left: 15px!important
}

.p-l-20 {
    padding-left: 20px!important
}

.p-l-25 {
    padding-left: 25px!important
}

.p-l-30 {
    padding-left: 30px!important
}

.p-l-35 {
    padding-left: 35px!important
}

.p-l-40 {
    padding-left: 40px!important
}

.f-s-8 {
    font-size: 8px!important
}

.f-s-9 {
    font-size: 9px!important
}

.f-s-10 {
    font-size: 10px!important
}

.f-s-11 {
    font-size: 11px!important
}

.f-s-12 {
    font-size: 12px!important
}

.f-s-13 {
    font-size: 13px!important
}

.f-s-14 {
    font-size: 14px!important
}

.f-s-15 {
    font-size: 15px!important
}

.f-s-16 {
    font-size: 16px!important
}

.f-s-17 {
    font-size: 17px!important
}

.f-s-18 {
    font-size: 18px!important
}

.f-s-19 {
    font-size: 19px!important
}

.f-s-20 {
    font-size: 20px!important
}

.text-center {
    text-align: center!important
}

.text-left {
    text-align: left!important
}

.text-right {
    text-align: right!important
}

.pull-left {
    float: left!important
}

.pull-right {
    float: right!important
}

.pull-none {
    float: none!important
}

.f-w-100 {
    font-weight: 100!important
}

.f-w-200 {
    font-weight: 200!important
}

.f-w-300 {
    font-weight: 300!important
}

.f-w-400 {
    font-weight: 400!important
}

.f-w-500 {
    font-weight: 500!important
}

.f-w-600 {
    font-weight: 600!important
}

.f-w-700 {
    font-weight: 700!important
}

.table-td-valign-middle td,
.table-th-valign-middle th,
.table-valign-middle td,
.table-valign-middle th {
    vertical-align: middle!important
}

.table-td-valign-top td,
.table-th-valign-top th,
.table-valign-top td,
.table-valign-top th {
    vertical-align: top!important
}

.table-td-valign-bottom td,
.table-th-valign-bottom th,
.table-valign-bottom td,
.table-valign-bottom th {
    vertical-align: bottom!important
}

.vertical-box {
    display: table;
    table-layout: fixed;
    border-spacing: 0;
    height: 100%;
    width: 100%
}

.vertical-box-column {
    display: table-cell;
    vertical-align: top;
    height: 100%
}

.vertical-box-row {
    display: table-row;
    height: 100%
}

.vertical-box-row>.vertical-box-cell {
    position: relative;
    height: 100%;
    width: 100%;
    float: none
}

.vertical-box-row>.vertical-box-cell>.vertical-box-inner-cell {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden
}

.no-rounded-corner {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}

.rounded-corner {
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important
}

.no-border {
    border: 0!important
}

.border-top-1 {
    border-top: 1px solid #eee!important
}

.border-right-1 {
    border-right: 1px solid #eee!important
}

.border-bottom-1 {
    border-bottom: 1px solid #eee!important
}

.border-left-1 {
    border-left: 1px solid #eee!important
}

.no-box-shadow {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.text-inverse {
    color: #2d353c!important
}

a.text-inverse:focus,
a.text-inverse:hover {
    color: #575d63!important
}

.text-success {
    color: #00acac!important
}

a.text-success:focus,
a.text-success:hover {
    color: #33bdbd!important
}

.text-info {
    color: #49b6d6!important
}

a.text-info:focus,
a.text-info:hover {
    color: #6dc5de!important
}

.text-blue {
    color: #348fe2!important
}

a.text-blue:focus,
a.text-blue:hover {
    color: #5da5e8!important
}

.text-warning {
    color: #f59c1a!important
}

a.text-warning:focus,
a.text-warning:hover {
    color: #f7b048!important
}

.text-danger {
    color: #ff5b57!important
}

a.text-danger:focus,
a.text-danger:hover {
    color: #ff7c79!important
}

.text-white {
    color: #fff!important
}

a.text-white:focus,
a.text-white:hover {
    color: #f0f3f4!important
}

.bg-white {
    background: #fff!important
}

.bg-silver-lighter {
    background: #f4f6f7!important
}

.bg-silver {
    background: #f0f3f4!important
}

.bg-silver-darker {
    background: #b4b6b7!important
}

.bg-black {
    background: #2d353c!important
}

.bg-black-darker {
    background: #242a30!important
}

.bg-black-lighter {
    background: #575d63!important
}

.bg-grey {
    background: #b6c2c9!important
}

.bg-grey-darker {
    background: #929ba1!important
}

.bg-grey-lighter {
    background: #c5ced4!important
}

.bg-red {
    background: #ff5b57!important
}

.bg-red-darker {
    background: #cc4946!important
}

.bg-red-lighter {
    background: #ff7c79!important
}

.bg-orange {
    background: #f59c1a!important
}

.bg-orange-darker {
    background: #c47d15!important
}

.bg-orange-lighter {
    background: #f7b048!important
}

.bg-yellow {
    background: #e3fa3e!important
}

.bg-yellow-darker {
    background: #b6c832!important
}

.bg-yellow-lighter {
    background: #e9fb65!important
}

.bg-green {
    background: #00acac!important
}

.bg-green-darker {
    background: #008a8a!important
}

.bg-green-lighter {
    background: #33bdbd!important
}

.bg-blue {
    background: #348fe2!important
}

.bg-blue-darker {
    background: #2a72b5!important
}

.bg-blue-lighter {
    background: #5da5e8!important
}

.bg-aqua {
    background: #49b6d6!important
}

.bg-aqua-darker {
    background: #3a92ab!important
}

.bg-aqua-lighter {
    background: #6dc5de!important
}

.bg-purple {
    background: #727cb6!important
}

.bg-purple-darker {
    background: #5b6392!important
}

.bg-purple-lighter {
    background: #8e96c5!important
}

.no-bg {
    background: 0 0!important
}

.height-xs {
    height: 150px!important
}

.height-sm {
    height: 300px!important
}

.height-md {
    height: 450px!important
}

.height-lg {
    height: 600px!important
}

.height-full {
    height: 100%!important
}

.height-50 {
    height: 50px!important
}

.height-100 {
    height: 100px!important
}

.height-150 {
    height: 150px!important
}

.height-200 {
    height: 200px!important
}

.height-250 {
    height: 250px!important
}

.height-300 {
    height: 300px!important
}

.height-350 {
    height: 350px!important
}

.height-400 {
    height: 400px!important
}

.height-450 {
    height: 450px!important
}

.height-500 {
    height: 500px!important
}

.height-550 {
    height: 550px!important
}

.height-600 {
    height: 600px!important
}

.width-xs {
    width: 150px!important
}

.width-sm {
    width: 300px!important
}

.width-md {
    width: 450px!important
}

.width-lg {
    width: 600px!important
}

.width-full {
    width: 100%!important
}

.width-50 {
    width: 50px!important
}

.width-100 {
    width: 100px!important
}

.width-150 {
    width: 150px!important
}

.width-200 {
    width: 200px!important
}

.width-250 {
    width: 250px!important
}

.width-300 {
    width: 300px!important
}

.width-350 {
    width: 350px!important
}

.width-400 {
    width: 400px!important
}

.width-450 {
    width: 450px!important
}

.width-500 {
    width: 500px!important
}

.width-550 {
    width: 550px!important
}

.width-600 {
    width: 600px!important
}

.animated {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear
}

.text-ellipsis {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important
}

.btn {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.btn.btn-outline {
    color: #fff;
    border-width: 2px;
    border-color: #8F8E8E;
    background: 0 0
}

.btn.btn-outline:focus,
.btn.btn-outline:hover {
    border-color: #fff
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.btn-icon,
.btn.btn-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    line-height: 28px;
    text-align: center;
    font-size: 14px
}

.btn-circle,
.btn.btn-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.btn-icon.btn-xs {
    width: 16px;
    height: 16px;
    font-size: 8px;
    line-height: 16px
}

.btn-icon.btn-sm {
    width: 22px;
    height: 22px;
    font-size: 11px;
    line-height: 22px
}

.btn-icon.btn-lg {
    width: 34px;
    height: 34px;
    font-size: 17px;
    line-height: 34px
}

.btn-scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 1020
}

.page-with-right-sidebar .btn-scroll-to-top {
    left: 25px;
    right: auto
}

.btn>.pull-left,
.btn>.pull-right {
    line-height: 1.428571429
}

.btn-block {
    padding-left: 12px;
    padding-right: 12px
}

.btn.active,
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .1)
}

.btn.btn-default {
    color: #fff;
    background: #b6c2c9;
    border-color: #b6c2c9
}

.btn-default.active,
.btn-default:active,
.btn-default:focus,
.btn-default:hover,
.open .dropdown-toggle.btn-default {
    background: #929ba1;
    border-color: #929ba1
}

.btn-group .btn.btn-default:not(.active)+.btn.btn-default,
.input-group-btn .btn.btn-default:not(.active)+.btn.btn-default {
    border-left-color: #929ba1
}

.btn.btn-white {
    font-weight: 400;
    color: #333;
    background: #fff;
    border-color: #e2e7eb
}

.btn.btn-white.btn-white-without-border {
    border-color: #fff
}

.btn.btn-white.btn-white-without-border.active,
.btn.btn-white.btn-white-without-border.active:focus,
.btn.btn-white.btn-white-without-border.active:hover {
    border-color: #ddd
}

.btn.btn-white.btn-white-without-border:focus,
.btn.btn-white.btn-white-without-border:hover {
    border-color: #eee
}

.btn-white.active,
.btn-white:active,
.btn-white:focus,
.btn-white:hover,
.open .dropdown-toggle.btn-white {
    background: #e2e7eb;
    border-color: #d8dde1
}

.btn-group .btn.btn-white:not(.active)+.btn.btn-white,
.input-group-btn .btn.btn-white:not(.active)+.btn.btn-white {
    border-left-color: #eee
}

.btn.btn-inverse {
    color: #fff;
    background: #2d353c;
    border-color: #2d353c
}

.btn-inverse.active,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open .dropdown-toggle.btn-inverse {
    background: #242a30;
    border-color: #242a30
}

.btn-group .btn.btn-inverse:not(.active)+.btn.btn-inverse,
.input-group-btn .btn.btn-inverse:not(.active)+.btn.btn-inverse {
    border-left-color: #242a30
}

.btn.btn-primary {
    color: #fff;
    background: #348fe2;
    /* border-color: #348fe2 */
    
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
    background: #2a72b5;
    border-color: #2a72b5
}

.btn-group .btn.btn-primary:not(.active)+.btn.btn-primary,
.input-group-btn .btn.btn-primary:not(.active)+.btn.btn-primary {
    border-left-color: #2a72b5
}

.btn.btn-success {
    color: #fff;
    background: #00acac;
    border-color: #00acac
}

.btn.btn-success.active,
.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover,
.open .dropdown-toggle.btn-success {
    background: #008a8a;
    border-color: #008a8a
}

.btn-group .btn.btn-success:not(.active)+.btn.btn-success,
.input-group-btn .btn.btn-success:not(.active)+.btn.btn-success {
    border-left-color: #008a8a
}

.btn.btn-warning {
    color: #fff;
    background: #f59c1a;
    border-color: #f59c1a
}

.btn-warning.active,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open .dropdown-toggle.btn-warning {
    background: #c47d15;
    border-color: #c47d15
}

.btn-group .btn.btn-warning:not(.active)+.btn.btn-warning,
.input-group-btn .btn.btn-warning:not(.active)+.btn.btn-warning {
    border-left-color: #c47d15
}

.btn.btn-danger {
    color: #fff;
    background: #ff5b57;
    border-color: #ff5b57
}

.btn-danger.active,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open .dropdown-toggle.btn-danger {
    background: #cc4946;
    border-color: #cc4946
}

.btn-group .btn.btn-danger:not(.active)+.btn.btn-danger,
.input-group-btn .btn.btn-danger:not(.active)+.btn.btn-danger {
    border-left-color: #cc4946
}

.btn.btn-info {
    color: #fff;
    background: #49b6d6;
    border-color: #49b6d6
}

.btn-info.active,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open .dropdown-toggle.btn-info {
    background: #3a92ab;
    border-color: #3a92ab
}

.btn-group .btn.btn-info:not(.active)+.btn.btn-info,
.input-group-btn .btn.btn-info:not(.active)+.btn.btn-info {
    border-left-color: #3a92ab
}

.progress {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 15px;
    overflow: visible;
    background: #e2e7eb;
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress .progress-bar {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: relative
}

.progress .progress-bar .progress-number {
    position: absolute;
    right: 0;
    bottom: 100%;
    background: #333;
    padding: 2px 6px 1px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block;
    line-height: 16px
}

.progress .progress-bar .progress-number:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -10px;
    border: 5px solid transparent;
    border-top-color: #333
}

.progress-bar.progress-bar-success {
    background: #00acac
}

.progress.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px
}

.progress-xs {
    height: 5px
}

.progress-xs .progress-bar {
    line-height: 5px
}

.progress-sm {
    height: 10px
}

.progress-sm .progress-bar {
    line-height: 10px
}

.progress-lg {
    height: 30px
}

.progress-lg .progress-bar {
    line-height: 30px
}

.progress-bar {
    background: #348fe2;
    -webkit-box-shadow: none;
    box-shadow: none
}

.progress-bar.progress-bar-success {
    background-color: #00acac
}

.progress-bar.progress-bar-info {
    background-color: #49b6d6
}

.progress-bar.progress-bar-warning {
    background-color: #f59c1a
}

.progress-bar.progress-bar-danger {
    background-color: #ff5b57
}

.progress-bar.progress-bar-inverse {
    background-color: #2d353c
}

.progress-bar.progress-bar-purple {
    background-color: #727cb6
}

.form-control {
    border: 1px solid #ccd0d4;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px
}

.form-control.input-white {
    background: #fff;
    border-color: #fff
}

.form-control.input-white:focus {
    box-shadow: none;
    -webkit-box-shadow: none
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background: #e5e9ed;
    opacity: .6;
    filter: alpha(opacity=60)
}

.form-control[disabled]:focus,
.form-control[readonly]:focus,
fieldset[disabled] .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #ccd0d4
}

.form-control:focus {
    border-color: #9fa2a5;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-horizontal.form-bordered .form-group {
    border-bottom: 1px solid #eee;
    margin: 0
}

.form-horizontal.form-bordered .form-group:last-child {
    border-bottom: 0
}

.form-horizontal.form-bordered .form-group>.control-label {
    padding: 22px 15px 15px
}

.form-horizontal.form-bordered .form-group>div {
    padding: 15px;
    border-left: 1px solid #eee
}

.form-horizontal.form-bordered .form-group>.control-label {
    border-right: 1px solid #eee;
    margin-right: -1px
}

.form-horizontal.form-bordered .has-feedback .form-control-feedback {
    top: 15px
}

label {
    font-weight: 500
}

.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none
}

.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .form-control-feedback,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline {
    color: #00acac
}

.has-success .form-control {
    border-color: #00acac
}

.has-success .form-control:focus {
    border-color: #008a8a
}

.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .form-control-feedback,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline {
    color: #f59c1a
}

.has-warning .form-control {
    border-color: #f59c1a
}

.has-warning .form-control:focus {
    border-color: #c47d15
}

.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .form-control-feedback,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline {
    color: #ff5b57
}

.has-error .form-control {
    border-color: #ff5b57
}

.has-error .form-control:focus {
    border-color: #cc4946
}

.form-control-feedback {
    line-height: 34px
}

select.form-control,
select[multiple].form-control {
    border-color: #ccd0d4
}

.input-group-addon {
    background: #e2e7eb;
    border: none
}

legend {
    padding-bottom: 3px;
    border-bottom: 1px solid #e2e7eb
}

.dropdown-menu {
    border: none;
    -webkit-box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .2);
    font-size: 12px
}

.dropdown-menu>li>a {
    padding: 5px 15px
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: #edf0f5
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background: #348fe2
}

.dropdown-menu .divider {
    border-color: #eee
}

.dropdown-menu.media-list {
    max-width: 280px;
    padding: 0
}

.dropdown-menu.media-list p {
    text-overflow: ellipsis;
    overflow: hidden
}

.dropdown-menu.media-list .dropdown-header {
    padding: 10px 20px!important;
    background: #fafafa
}

.dropdown-menu.media-list>.media {
    margin-top: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: -1px
}

.dropdown-menu.media-list>.media>a {
    display: block;
    padding: 10px 20px!important
}

.dropdown-menu.media-list>.media .media-object {
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.dropdown-footer {
    padding: 10px 20px
}

.dropdown-menu>li.dropdown-footer>a {
    padding: 0!important;
    display: inline!important
}

.dropdown-menu>li.dropdown-footer>a:focus,
.dropdown-menu>li.dropdown-footer>a:hover {
    background: 0 0!important;
    text-decoration: underline!important
}

.tooltip-inner {
    padding: 4px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.alert {
    border: none
}

.alert.alert-success {
    background: #7cdda7
}

.alert.alert-info {
    background: #93cfe5
}

.alert.alert-danger {
    background: #f8b2b2
}

.alert.alert-warning {
    background: #ffead0
}

.note {
    margin-bottom: 20px;
    padding: 15px;
    border-left: 3px solid
}

.note.note-success {
    border-color: #4a8564;
    background: #b0ebca;
    color: #3c763d
}

.note.note-success h1,
.note.note-success h2,
.note.note-success h3,
.note.note-success h4,
.note.note-success h5,
.note.note-success h6 {
    color: #3c763d
}

.note.note-danger {
    border-color: #986e6e;
    background: #fbd1d1;
    color: #a94442
}

.note.note-danger h1,
.note.note-danger h2,
.note.note-danger h3,
.note.note-danger h4,
.note.note-danger h5,
.note.note-danger h6 {
    color: #a94442
}

.note.note-info {
    border-color: #587c89;
    background: #bee2ef;
    color: #31708f
}

.note.note-info h1,
.note.note-info h2,
.note.note-info h3,
.note.note-info h4,
.note.note-info h5,
.note.note-info h6 {
    color: #31708f
}

.note.note-warning {
    border-color: #9d9080;
    background: #fff2e3;
    color: #8a6d3b
}

.note.note-warning h1,
.note.note-warning h2,
.note.note-warning h3,
.note.note-warning h4,
.note.note-warning h5,
.note.note-warning h6 {
    color: #8a6d3b
}

.badge {
    font-size: 75%;
    line-height: 1.25;
    font-weight: 600
}

.label {
    font-size: 75%;
    font-weight: 600
}

.badge.badge-square {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.badge.badge-default,
.label.label-default {
    background: #b6c2c9
}

.badge.badge-danger,
.label.label-danger {
    background: #ff5b57
}

.badge.badge-warning,
.label.label-warning {
    background: #f59c1a
}

.badge.badge-success,
.label.label-success {
    background: #00acac
}

.badge.badge-info,
.label.label-info {
    background: #49b6d6
}

.badge.badge-primary,
.label.label-primary {
    background: #348fe2
}

.badge.badge-inverse,
.label.label-inverse {
    background: #2d353c
}

.pager li>a,
.pager li>span,
.pagination>li>a {
    border-color: #e2e7eb;
    color: #242a30
}

.pager.pager-without-border li>a,
.pager.pager-without-border li>span,
.pagination.pagination-without-border>li>a {
    border-color: #fff
}

.pager>.disabled>a,
.pager>.disabled>span,
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    opacity: .6;
    filter: alpha(opacity=60);
    border-color: #ddd
}

.pagination>li>a {
    color: #242a30;
    margin-left: 5px;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    border-radius: 3px!important
}

.pagination>li:first-child>a {
    margin-left: 0
}

.pagination-sm>li>a,
.pagination-sm>li>span {
    font-size: 10px;
    margin-left: 4px
}

.pagination-lg>li>a,
.pagination-lg>li>span {
    font-size: 14px;
    margin-left: 6px
}

.pager li>a:focus,
.pager li>a:hover,
.pager li>span:focus,
.pager li>span:hover,
.pagination>li>a:focus,
.pagination>li>a:hover {
    color: #242a30;
    background: #e2e7eb;
    border-color: #d8dde1
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: #242a30!important;
    border-color: #242a30!important
}

.nav>li>a {
    color: #6e7179
}

.nav>li>a:focus,
.nav>li>a:hover {
    color: #333;
    background: #fafafa
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover,
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #242a30
}

.nav-tabs.nav-tabs-inverse {
    background: #242a30
}

.nav-tabs.nav-justified>li>a {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}

.nav-tabs.nav-tabs-inverse>li.active>a,
.nav-tabs.nav-tabs-inverse>li.active>a:focus,
.nav-tabs.nav-tabs-inverse>li.active>a:hover {
    background: #fff
}

.nav-tabs.nav-tabs-inverse>li>a:focus,
.nav-tabs.nav-tabs-inverse>li>a:hover {
    color: #fff;
    background: 0 0
}

.nav-tabs>li>a {
    margin-right: 5px;
    line-height: 20px
}

.nav-pills {
    margin-bottom: 10px
}

.nav-pills>li+li {
    margin-left: 5px
}

.nav-pills>li>a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background: #242a30
}

.nav-stacked>li+li {
    margin-left: 0;
    margin-top: 5px
}

.tab-content {
    padding: 15px;
    margin-bottom: 20px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.nav-tabs+.tab-content {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.panel-title a {
    display: block
}

.panel-title>a:focus,
.panel-title>a:hover {
    text-decoration: none
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.panel.panel-no-rounded-corner .panel-body,
.panel.panel-no-rounded-corner .panel-footer,
.panel.panel-no-rounded-corner .panel-heading {
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}

.panel-heading {
    padding: 10px 15px;
    border: none;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    border-radius: 0!important
}

.panel-heading+.slimScrollDiv,
.panel-heading+.table {
    border-top: 1px solid #ddd
}

.panel-heading-btn {
    float: right
}

.panel-heading-btn>a {
    margin-left: 8px
}

.panel-heading .btn-group .btn {
    margin-top: -7px
}

.panel-heading .btn-group .btn.btn-sm {
    margin-top: -5px
}

.panel-heading .btn-group .btn.btn-xs {
    margin-top: -1px
}

.panel-heading .label.pull-left,
.panel-heading .label.pull-right {
    line-height: 15px
}

.panel-heading .progress.pull-left,
.panel-heading .progress.pull-right {
    width: 40%;
    min-width: 120px
}

.panel-heading+.alert {
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.panel-with-tabs .panel-heading {
    background: #c1ccd1!important;
    color: #333!important
}

.panel-heading .nav-tabs {
    margin-top: -10px;
    margin-right: -15px
}

.panel-heading .nav-tabs>li>a {
    padding: 10px 15px;
    line-height: 20px
}

.panel-title {
    line-height: 20px;
    font-size: 12px
}

.panel-title .accordion-toggle {
    margin: -10px -15px;
    padding: 10px 15px
}

.panel-title .accordion-toggle.accordion-toggle-styled .fa:before {
    content: '\f056'
}

.panel-title .accordion-toggle.accordion-toggle-styled.collapsed .fa:before {
    content: '\f055'
}

.panel-title .pull-right {
    line-height: 20px
}

.panel-toolbar {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 15px;
    background: #fff
}

.panel-toolbar+.form-control {
    margin: -1px 0 0;
    border-right: none;
    border-left: none
}

.panel-group .panel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.form-control+.panel-footer {
    border-top: none
}

.panel-body {
    padding: 15px
}

.panel-body.no-border {
    border: none!important
}

.panel-body.no-padding,
.panel-body.panel-form,
.panel-body.panel-full-width,
.panel-body.panel-table {
    padding: 0!important
}

.panel-body.with-table>.table {
    border: 0;
    margin: 0
}

.panel-body.with-table>.table tr:last-child td,
.panel-body.with-table>.table tr:last-child th {
    border-bottom: 0
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
    border-top: 1px solid #ddd
}

.panel-footer {
    background: #fff;
    border-top: 1px solid #ddd
}

.panel .tab-content {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.panel-default>.panel-heading {
    background: #fafafa
}

.panel-danger>.panel-heading,
.panel-info>.panel-heading,
.panel-inverse>.panel-heading,
.panel-primary>.panel-heading,
.panel-success>.panel-heading,
.panel-warning>.panel-heading {
    color: #fff
}

.panel-inverse {
    border-color: #242a30
}

.panel-inverse>.panel-heading {
    background: #242a30
}

.panel-success {
    border-color: #008a8a
}

.panel-success>.panel-heading {
    background: #008a8a
}

.panel-warning {
    border-color: #c47d15
}

.panel-warning>.panel-heading {
    background: #c47d15
}

.panel-danger {
    border-color: #cc4946
}

.panel-danger>.panel-heading {
    background: #cc4946
}

.panel-primary {
    border-color: #2a72b5
}

.panel-primary>.panel-heading {
    background: #2a72b5
}

.panel-info {
    border-color: #3a92ab
}

.panel-info>.panel-heading {
    background: #3a92ab
}

.panel-danger .panel-heading a:focus,
.panel-danger .panel-heading a:hover,
.panel-info .panel-heading a:focus,
.panel-info .panel-heading a:hover,
.panel-inverse .panel-heading a:focus,
.panel-inverse .panel-heading a:hover,
.panel-primary .panel-heading a:focus,
.panel-primary .panel-heading a:hover,
.panel-success .panel-heading a:focus,
.panel-success .panel-heading a:hover,
.panel-warning .panel-heading a:focus,
.panel-warning .panel-heading a:hover {
    color: #fff
}

.panel.panel-expand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    z-index: 1080
}

.panel-expand .height-full,
.panel-expand .height-lg,
.panel-expand .height-md,
.panel-expand .height-sm,
.panel-expand .height-xs {
    height: 100%!important
}

@keyframes panelExpand {
    from {
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%
    }
    to {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

@-webkit-keyframes panelExpand {
    from {
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%
    }
    to {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0
    }
}

.panel.panel-expand>.panel-heading .fa.fa-expand:before {
    content: '\f066'
}

.panel.panel-expand,
.panel.panel-expand>.panel-body,
.panel.panel-expand>.panel-heading {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.panel.panel-expand>.panel-body {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 40px;
    overflow-y: scroll;
    z-index: 1020
}

.panel.panel-expand>.panel-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0
}

.panel.panel-loading .panel-body {
    position: relative;
    z-index: 0
}

.panel.panel-loading.panel-expand .panel-body {
    position: absolute
}

.panel.panel-loading .panel-body .panel-loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    opacity: .9;
    filter: alpha(opacity=90);
    animation: fadeIn .2s;
    -webkit-animation: fadeIn .2s;
    z-index: 1020;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.modal-content {
    border: none;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.modal-header {
    padding: 12px 15px;
    border-bottom-color: #e2e7eb
}

.modal-header .close {
    margin-top: 2px
}

.modal-body {
    padding: 15px
}

.modal-footer {
    border-top-color: #e2e7eb;
    padding: 14px 15px 15px
}

.modal-message .modal-dialog {
    width: 100%
}

.modal-message .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.modal-message .modal-body,
.modal-message .modal-footer,
.modal-message .modal-header {
    width: 60%;
    border: none;
    margin: 0 auto
}

.media .media-object {
    width: 128px
}

.media.media-lg .media-object {
    width: 256px
}

.media.media-sm .media-object {
    width: 64px
}

.media.media-xs .media-object {
    width: 32px
}

.media>.pull-left {
    margin-right: 15px
}

.media>.pull-right {
    margin-left: 15px
}

.media a.media-heading:focus,
.media a.media-heading:hover,
.media a:focus,
.media a:focus .media-heading,
.media a:hover,
.media a:hover .media-heading {
    color: #242a30;
    text-decoration: none
}

.media-list.media-list-with-divider>li+li {
    border-top: 1px solid #eee;
    padding-top: 20px
}

.table {
    border-color: #e2e7eb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.table>thead>tr>th {
    color: #242a30;
    font-weight: 600;
    border-bottom: 2px solid #e2e7eb!important
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-color: #e2e7eb;
    padding: 10px 15px
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 7px 15px
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background: #e8ecf1!important
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background: #f0f3f5
}

.table.table-inverse>tbody>tr>td,
.table.table-inverse>tbody>tr>th,
.table.table-inverse>tfoot>tr>td,
.table.table-inverse>tfoot>tr>th,
.table.table-inverse>thead>tr>td,
.table.table-inverse>thead>tr>th {
    border-color: #999!important;
    border-color: rgba(0, 0, 0, .2)!important
}

.table.table-inverse,
.table.table-inverse>tbody>tr>th,
.table.table-inverse>tfoot>tr>th,
.table.table-inverse>thead>tr>th {
    color: #fff
}

.table>tbody>tr.info>td,
.table>tbody>tr.info>th,
.table>tbody>tr>td.info,
.table>tbody>tr>th.info,
.table>tfoot>tr.info>td,
.table>tfoot>tr.info>th,
.table>tfoot>tr>td.info,
.table>tfoot>tr>th.info,
.table>thead>tr.info>td,
.table>thead>tr.info>th,
.table>thead>tr>td.info,
.table>thead>tr>th.info {
    background: #dbf0f7;
    border-color: #b6e2ef
}

.table>tbody>tr.success>td,
.table>tbody>tr.success>th,
.table>tbody>tr>td.success,
.table>tbody>tr>th.success,
.table>tfoot>tr.success>td,
.table>tfoot>tr.success>th,
.table>tfoot>tr>td.success,
.table>tfoot>tr>th.success,
.table>thead>tr.success>td,
.table>thead>tr.success>th,
.table>thead>tr>td.success,
.table>thead>tr>th.success {
    background: #cee;
    border-color: #99dede
}

.table>tbody>tr.danger>td,
.table>tbody>tr.danger>th,
.table>tbody>tr>td.danger,
.table>tbody>tr>th.danger,
.table>tfoot>tr.danger>td,
.table>tfoot>tr.danger>th,
.table>tfoot>tr>td.danger,
.table>tfoot>tr>th.danger,
.table>thead>tr.danger>td,
.table>thead>tr.danger>th,
.table>thead>tr>td.danger,
.table>thead>tr>th.danger {
    background: #ffdedd;
    border-color: #ffbdbc
}

.table>tbody>tr.warning>td,
.table>tbody>tr.warning>th,
.table>tbody>tr>td.warning,
.table>tbody>tr>th.warning,
.table>tfoot>tr.warning>td,
.table>tfoot>tr.warning>th,
.table>tfoot>tr>td.warning,
.table>tfoot>tr>th.warning,
.table>thead>tr.warning>td,
.table>thead>tr.warning>th,
.table>thead>tr>td.warning,
.table>thead>tr>th.warning {
    background: #fdebd1;
    border-color: #fbd7a3
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background: #f0f3f5;
    border-color: #e2e7e9
}

.well {
    padding: 15px;
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none
}

.well-sm {
    padding: 10px
}

.well-lg {
    padding: 30px
}

.jumbotron {
    background: #f0f3f4
}

.jumbotron .h1,
.jumbotron h1 {
    font-size: 56px
}

.jumbotron p {
    font-size: 18px
}

a.list-group-item.active,
a.list-group-item.active:focus,
a.list-group-item.active:hover {
    background: #348fe2
}

.carousel .carousel-caption h1,
.carousel .carousel-caption h2,
.carousel .carousel-caption h3,
.carousel .carousel-caption h4,
.carousel .carousel-caption h5,
.carousel .carousel-caption h6 {
    color: #fff
}

.carousel .carousel-control .fa {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    text-align: center;
    line-height: 30px;
    margin-left: -15px
}

.carousel .carousel-control.left .fa {
    left: 50%
}

.carousel .carousel-control.right .fa {
    right: 50%;
    margin-left: 0;
    margin-right: -15px
}

.theme-panel .theme-collapse-btn {
    position: absolute;
    left: -40px;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color: #000;
    background: #fff;
    background: rgba(255, 255, 255, .9);
    border-radius: 4px 0 0 4px;
    text-align: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4)
}

.theme-panel {
    position: fixed;
    right: -180px;
    top: 200px;
    z-index: 1020;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    width: 180px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    transition: right .2s linear
}

.theme-panel .theme-panel-content {
    padding: 5px;
    background: #fff;
    position: relative;
    z-index: 1020
}

.theme-panel .theme-list {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.theme-panel .theme-list>li {
    float: left
}

.theme-panel .theme-list>li+li {
    margin-left: 5px
}

.theme-panel .theme-list>li>a {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    display: block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    position: relative
}

.theme-panel .theme-list>li.active>a:before {
    content: '\f00c';
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 14px;
    color: #fff;
    opacity: .4;
    filter: alpha(opacity=40);
    line-height: 30px;
    text-align: center
}

.theme-panel.active {
    right: 0
}

.btn-primary{
    background-color: #e73b4c !important;
    border-color: transparent !important;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4), inset 0 1px 0 rgba(255, 255, 255, 0.15);
    cursor: pointer;
}


.navbar-brand{
    display: flex;
}

.navbar-brand img{
    height: 28px;
    margin-right: 10px;
}

.social-list a{
    text-decoration: none;
    color: #e73b4c;
}

.social-list a:hover{
    color: #f4f6f7;
}

#features .row .col-md-3{
    max-height: 240px;
    margin: 30px 0;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
    
    font-family: 'Source Sans Pro', sans-serif !important;
}
